body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg');
  background-size: 50px 50px;
  background-color: #edeff0;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  margin-right: 5px;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}


a .icon {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  fill: #999;
  transition: transform .4s;
}

a:hover .icon {
  transform: scale(1.2);
}

.icon .st0 {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  fill: currentColor;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

.letters {
  display: none;
}

#main-logo {
  width: 140px;
  height: 120px;
  transition: transform .4s;
}

#main-logo:hover {
  transform: rotate(30deg)
}

.corgi_wrap {
  justify-content: center;
}

.corgi_wrap li {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.first{
  color: #b97f5b;
}

.second{
  color: #e9aa82;
}

.third {
  color: #834b29;
}

.fourth{
  color: #52595e;
}

.white {
  fill: #fff;
}

.nose_and_eyes {
  fill: #2d3339;
}

.brows {
  fill: #d8805c
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


@media (min-width: 425px) {
  .letters {
    display: inline-block;
  }
  .logo-h1 {
    display: none;
  } 
}
